@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

html {
  font-size: 62.5%;
  background: var(--color-green);
}

:root {
  --color-blue: hsl(214, 50%, 50%);
  --color-grey: hsl(213, 16%, 22%);
  --color-white: hsl(0, 0%, 100%);
  --color-green: #516B5E;
  --color-pink: #DD7F77;
  --color-beige: #F8F3DF;
  --color-background: hsla(213, 16%, 22%, .75);
  --main-shadow: 0 0 1.5rem 0 var(--color-grey);
  --text-large: calc(var(--text-body) * 2.25);
  --text-medium: calc(var(--text-body) * 1.75);
  --text-small: calc(var(--text-body) * 1.375);
  --text-body: 1.6rem;
  --text-xs: 1.2rem;
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--text-large);
  line-height: var(--text-large);
}

h2 {
  color: var(--color-white);
  font-size: var(--text-medium);
  line-height: var(--text-medium);
  font-weight: bold;
  margin: 1.4rem 0;
}

h3 {
  font-size: var(--text-small);
  line-height: var(--text-small);
  font-weight: bold;
}

p {
  font-size: var(--text-body);
  line-height: var(--text-body);
  color: var(--color-grey);
}

p + p {
  margin: 1rem 0;
}

a {
  cursor: pointer;
  color: currentColor;
}

ul,
li {
  list-style: none;
  font-size: var(--text-body);
}

input:not([type="checkbox"]),
button,
progress {
  -webkit-appearance: none;
  appearance: none;
}

input,
button {
  transition: all .3s ease-in-out;
}

*:focus {
  transform: scale(1.1);
  -webkit-animation: focus 1s ease-in-out infinite alternate;
  animation: focus 1s ease-in-out infinite alternate;
}

body > header {
  box-shadow: var(--main-shadow);
}

body > header > h1 {
  padding: 1.6rem 1rem;
  padding-left: calc(var(--text-medium) + 2rem);
  color: var(--color-white);
  background-color: var(--color-grey);
}

main {
  height: calc(100% - 6.8rem);
  width: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg path {
  fill: currentColor;
}
